name: Run Tests
on: [push, pull_request]
env:
  UV_PYTHON_DOWNLOADS: never
  PYTEST_ADDOPTS: "--color=yes"
  PYTHONWARNINGS: error
  PYTHON_VERSION: "3"
  SPHINX_PACKAGE: "sphinx"
jobs:
  uv:
    strategy:
      matrix:
        include:
          # default Python, different OSs
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest

          # different Python versions
          - os: ubuntu-latest
            env:
              PYTHON_VERSION: "3.9"
          - os: ubuntu-latest
            env:
              PYTHON_VERSION: "3.13"
          - os: ubuntu-latest
            env:
              PYTHON_VERSION: "3.14"

          # different Sphinx versions
          - os: ubuntu-latest
            env:
              SPHINX_PACKAGE: "sphinx==6.2.1"
              # datetime.utcfromtimestamp is deprecated in Python 3.12 (fixed in Sphinx 7.1)
              PYTHON_VERSION: "3.11"
          - os: ubuntu-latest
            env:
              SPHINX_PACKAGE: "sphinx==7.1"
          - os: ubuntu-latest
            env:
              SPHINX_PACKAGE: "sphinx==7.4"
          - os: ubuntu-latest
            env:
              SPHINX_PACKAGE: "sphinx==8.0"

    runs-on: ${{ matrix.os }}
    env: ${{ matrix.env || fromJSON('{}') }}
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Checkout submodules
      run: |
        python tests/update_submodules.py
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install package
      env:
        # markupsafe 3.0.2 causes a warning which is fixed in 3.0.3
        PYTHONWARNINGS: default
      run: |
        uv sync --locked
    - name: Run pytest
      run: |
        uv run --locked --with "$SPHINX_PACKAGE" pytest

  # Just to check if it's still compatible with pip.
  pip:
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v5
    - name: Check (pre-installed) Python version
      run: |
        python --version
    - name: Checkout submodules
      run: |
        python tests/update_submodules.py
    - name: Upgrade pip
      env:
        PYTHONWARNINGS: error,default::DeprecationWarning
      run: |
        python -m pip install pip --upgrade
    - name: Install Python package
      run: |
        python -m pip install --group dev .
    - name: Run pytest
      run: |
        python -m pytest
